<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      var state = '<%- JSON.stringify(status) %>';
      console.log(state);
      if (JSON.parse(state) == "verified") {
        if (confirm("Do you want to continue?")) {
          window.location.href = "http://localhost:3000/login/";
        }
      }
    </script>
  </head>
  <body>
    <h1><%= email %></h1>
    <form action="" method="post">
      <input
        type="password"
        name="password"
        id="password"
        placeholder="New Password"
      />
      <input
        type="password"
        name="confirm-password"
        id="confirm-password"
        placeholder="Conform New Password"
      />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
